body{
    margin: 0 auto;
    padding: 0;
    font-family: map_get($fonts, font-text);
}
#desktop{
    background-color: #CECECE;
}

li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}
*{

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3, h4{
    color: map_get($colors, bright);
    font-family: map_get($fonts, font-headlines);
}

h1{
    font-size: 3em;
    margin: 1em;
}

h2{
    font-size: 2.5em;
    margin: 1em;
}

p{
    font-family: map_get($fonts, font-text);

}