///detta är breakpointmixin

/* sass breakpoint mixin */
@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from #{$breakpoint}. Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

/// Center content
@mixin center-content() {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/// Make button with hover effect.
/// @param color Button color
/// @param roundness How round the button edges should be
/// @param padding How big the button should be
@mixin make-button($color: map-get($colors, turquoise), $roundness: 5px, $padding: 10px) {
    @extend %button;
    background: $color;
    border-radius: $roundness;
    padding: $padding;
    cursor: pointer;

    &:hover {
        filter: brightness(115%);
        text-decoration: none;
        color: white;
    }

}

/// Mixin for forms.
/// @param color Background color of input field
/// @param width The input field width
/// @param margin The input field margin
/// @param padding The input field padding
@mixin make-form($color, $width, $margin: 5px 0 22px 0, $padding: 15px) {
    @extend %form;
    background: $color;
    width: $width;
    margin: $margin;
    padding: $padding;

}

/// Mixin for hero-background-image.
/// @param img-path Path to image
/// @param bg-repeat How the image should be repeated
/// @param bg-size How the image should be sized
@mixin hero-background($img-path, $bg-repeat: no-repeat, $bg-size: cover) {
    background-image: url($img-path);
    background-repeat: $bg-repeat;
    background-size: $bg-size;
}