///detta är breakpointmixin

/* sass breakpoint mixin */
@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from #{$breakpoint}. Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

// Center content

@mixin center-content() {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@mixin make-button($color: map-get($colors, turquoise), $roundness: 5px, $padding: 10px) {
    @extend %button;
    background: $color;
    border-radius: $roundness;
    padding: $padding;
    cursor: pointer;
    &:hover {
        background: lighten($color, 10%);
        text-decoration: none;
        color: white;
    }

}

/// Mixin for forms
@mixin make-form($color, $width, $margin: 5px 0 22px 0, $padding: 15px) {
    @extend %form;
    background: $color;
    width: $width;
    margin: $margin;
    padding: $padding;

}

///Mixin for hero-background-image
@mixin hero-background($img-path, $bg-repeat: no-repeat, $bg-size: cover) {
    background-image: url($img-path);
    background-repeat: $bg-repeat;
    background-size: $bg-size;
}