/// Fonts
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700);

/// breakpoints
$breakpoints:(

    "small": (min-width: 40em),
    "medium": (min-width: 45em),
    "large": (min-width: 94em)

) !default;
    
///colorscheme
$colors: (
    bright: rgb(255, 255, 255),
    medium-grey: rgb(149, 152, 154),
    hover-effect: rgb(204, 183, 183),

    turquoise: #28AAB5,

) !default;

///Font
$fonts: (
font-text: ('Roboto', sans-serif),
font-headlines: ('Lobster', serif),
app-font: ('Arial, Helvetica, sans-serif')
)