/// Fonts
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700);

/// breakpoints
$breakpoints:(

    "small": (min-width: 40em),
    "medium": (min-width: 45em),
    "large": (min-width: 94em)

) !default;
    
///colorscheme
$colors: (
    bright: #FFFFFF,
    dark: #868DA7,
    darker: #272635,
    turquoise: #28AAB5,
    black: #000000,
    fb: #2F5F9E

) !default;

///Font
$fonts: (

font-text: ('Roboto', sans-serif),
font-headlines: ('Lobster', serif),
app-font: ('Arial, Helvetica, sans-serif')

)
