.create-account {
    max-width: 80vw;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

    /// Input styling
  input[type=text], input[type=password] {
    @include make-form(#E8E9F3, 100%)
  }

  /// Center submit button
  .submit-btn {
    display: flex;
    justify-content: center;
  }
  
}