.app-top {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 2em;
    margin-bottom: 1em;
    .topicon {
        height: 47px;
        width: auto;
        margin: 0;
    }
    h2 {
        margin: 0 1em;
    }
}