#appnavmenu {
    height: 100vh;
    background: white;
    position: fixed;
    width: 60vw;
    font-family: Helvetica, sans-serif;
    transform: translateX(-100%);
    transition: all 0.3s;
}

.test {
    background: rgba(10, 9, 9, 0.705);
    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: ease-in 0.1s;
    display: none;
}
.appnavclose {
    font-weight: bold;
    margin-left: 190px;
    font-size: 25px;
}
.appnavheader {
    border-bottom: 1px solid rgba(71, 71, 71, 0.178);
    display: flex;
    height: 60px;
    margin-left: -30px;
    align-items: center;
    p {
        font-size: 24px;
        font-weight: bold;
        margin-left: -50px;
    }
    img {
        width: 40px;
    }

}
.appnavlink {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(71, 71, 71, 0.178);
    height: 130px;
    justify-content: center;
    p {
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        padding: 5px;
    }
    img {
        width: 35px;
        height: auto;
        padding: 5px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

label {
    cursor: pointer;
}
#mainNavButton {
    display: none;
}

#mainNavButton:checked ~ #appnavmenu {
    transform: translateX(0%);
}

#mainNavButton:checked ~ .test {
    display: block;
}