.create-account {
    max-width: 80vw;
    margin: auto;

    /// Input styling
  input[type=text], input[type=password] {
    border: none;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #E8E9F3;
    width: 100%;
  }

  /// Center submit button
  .submit-btn {
    display: flex;
    justify-content: center;
  }
  
}