#business-hero{
  background-image: url("../images/hop-on-nature.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(30%);
  width: 100vw;
  height: 35em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  #business-headline{
      font-size: 6em;
      grid-column: 2;
      grid-row: 3;
  }
}

.business-inquiries{
  @include center-content();

}

@include respond-to('medium') {
  #business-wrapper {
    margin: 1em 7em;
    display: flex;
    p, img {
      width: 45%;
      line-height: 30px;
    }
    img{
      height: 90%;
    }
  }
}