//style paragraphs and images 
#coffee-info-headline{
    text-align: center;
    color: map-get($colors, coffee);
}

#our-coffee-text{
    text-align: center;
    margin: 0.5em 1em;
    color: map-get($colors, coffee);
}

#our-coffee-img{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0;
}

#our-coffee-img img{
    width: 100vw;
    height: 200px;
}

//hide second image in mobile viewport
#second-img{
    display: none;
}


@include respond-to("medium") {
    #our-coffee-text{
        margin: 3em;
    }
    #second-img{
        display: inline-block;
    }
    #our-coffee-img img{
        width: 50%;
        height: 300px;
    }
}