#contact-us-headline{
  @include center-content();
}


//contact form styling
.contact-form{
  margin-top: 30px;
  width: 75vw;
  .input-block{
    background-color: white;
    border: solid 1px darkgray;
    box-shadow: 1px 1px gray;
    padding: 0.6em;
    margin-bottom: 20px;

    &.textarea{
      height: 100%;
    }

    .form-control{
      margin: 0;
      padding: 0.6em 0;
      border: none;
      width: 97%;
      font-size: 18px;
    }


  }
  // skicka-knappen styling
  #square-button{
    @include make-button();
    height: 70px;
    width: 100%;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

//tablet and above devices
@include respond-to('medium') {
  .col-50 {
    display: inline-block;
    width: 49.5%; //för- efternamn får plats bredvid varandra i desktop-view
  }
  .button-wrap{
    display: flex;
    justify-content: center;
    #square-button{ //knappens bredd är 50% i desktop-view
      width: 50%;
    }

  }
}