.social div{
    margin-top: 20px;
    margin-bottom: 20px;
}


@include respond-to('medium'){
    .social .icons{
        font-size: 50px;

        & i{
            margin: 20px;
        }
    }
    .mecenat{
        color: map-get($colors, bright );
        font-size: 30px;
        align-items: center;
        text-align: center;
        padding-bottom: 30px;
    }
}