#desktop {
    footer {
        background: map-get($colors, turquoise);
        height: 500px;
        margin-top: 1em;

        p {
            text-align: center;
            font-size: 1.5em;
            padding: 3em;

            span {
                display: block;
                color: white;
                margin: 1em;
            }
        }

        img {
            width: 100vw;
        }
    }
}
