.how-to-use{
  @include center-content;
  margin: 1em 4em;
}

//grid styling
#find-bike, #unlock-bike{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 2em;
  margin: 1em;
}

#find-bike-title{
  grid-column: 1;
  grid-row: 1;
}

#find-bike-text{
  grid-column: 1;
  grid-row: 2;
}

#find-bike img{
  width: 100%;
  height: auto;
  grid-column: 2;
  grid-row: 1 / span 2;
}

#unlock-bike-title{
  grid-column: 2;
  grid-row: 1;
}

#unlock-bike-text{
  grid-column: 2;
  grid-row: 2;
}

#unlock-bike img{
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 1 / span 2;
}