.how-to-use{
  @include center-content;
  margin: 1em;
  @include respond-to(medium) {
    margin: 1em 7em;
  }
  p {
    line-height: 30px;
  }
  #find-bike img, #unlock-bike img{
    @include center-content;
    max-width: 90vw;
  }
}

//styling image and text for mobile view
@include respond-to(small){
  #find-bike-title, #unlock-bike-title{
    text-align: center;
  }
  #find-bike img, #unlock-bike img{
    margin: 1em auto;
  }
}

