// simpel styling för toggle
.toggle{
    font-size: 30px;
    color: map-get($colors, bright );
    top: 0;
}
header{
    background-image: url('../images/hero-image-2.jpg');
    background-size: cover;
    height: 300px;
}
.logotype-mobile{
    color: white;
    text-align: center;
}
.toggle:hover{
    text-decoration: none;
    color: map-get($colors, bright );
}
// Meny för desktop
@include respond-to('medium'){
    .toggle{
        display: none;
    }
    .toggle-close{
        display: none;
    }
    .logotype-mobile{
        display: none;
    }
    .logotype-desktop{
        display: block;
        
    }
    header{
        width: 100%;
        height: auto;
        background-image: inherit;
    }
}