p {
    text-align: center;
     margin-top: 1em;
    }


#submit{ width: 100px;
    background-color:map-get($colors, coffee);
    color: map-get($colors, bright);
    margin-left:7em;
    height: 2em;
}

input{
margin-top:1em;
}

#firstname{
    margin-left:1em;
    }

a {
    text-decoration: none;
    color: map-get($colors, coffee);
}

a:hover{
    color: map-get($colors, medium-grey);
    text-decoration: underline;
}




#minasidor-grid {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto; 
    margin-bottom:4em; 
    max-width: 1000px;
    color: map-get($colors, coffee);
}

#minasidor{
    grid-column: 1/ 3;
    grid-row: 1;
    text-align: center;
}

form {
    grid-column: 1/ 2;
    grid-row: 2;  
    margin: auto;    
}

.register{
    grid-column: 2/ 2;
    grid-row: 2;  
    text-align: center; 
}

@include respond-to("small") {
    
    #minasidor-grid {
        display:flex;
        flex-direction: column;
    }
    .register{
        height:50px;
        margin:1.5em;
        padding: 1em;
    }
    #submit{ margin-left:em;
    }
}