#green-cup img {
        display: flex;
        width:35vw;
        margin:0;
        margin-top: 2em;
    }

button {
    width: 100px;
    height: 40px;
    background-color: map-get($colors, coffee);
    color:  map-get($colors,bright);
}

#number{
    width: 50px;
    height: 30px;
}

/*webshop grid delen*/
#webshop-grid{
       display: grid;
        grid-template-columns:1fr auto;
        grid-template-rows:auto;  
        max-width: 1000px;
        margin-bottom:2em; 
        color: map-get($colors, coffee);
}

#webshop{
    grid-column: 2/ 3;
    grid-row: 1;
}

#webshop-title{
    grid-column: 2/ 3;
    grid-row: 1;
    margin-top:5em;
}

#webshop-grid a{
    grid-column: 2/ 3;
    grid-row: 1;
    margin-top:6em;
    margin-right: 1em;
    text-decoration: none;
    color:black;  
}

#green-cup{
    grid-column: 1 / 2;
    grid-row: 1;
    margin: 0; 
}

#buy-items {
    grid-column: 1 / 3;
    grid-row: 2;
    margin: auto;
}

@include respond-to("medium") {
    #buy-items {
        grid-column: 2 / 3;
        grid-row: 1;
        margin-top: 14em;
        margin-left: 2em;
span {
  font-size: 18px;
}
    }
  
    #webshop-title{
        margin-top:5em;
        padding: 2em;
    }

    #webshop{
        grid-column: 1/ 3;
        text-align: center;
    }
    #webshop-grid a{
        margin-top:6em;
        padding: 2em;
        text-decoration: none;
        color:black;
    }
}

@include respond-to("large") {

    #green-cup img {
        width:250px;
        margin-top:4em;
    }
}