
footer{
    background-color: map-get($colors, coffee );
    color: map-get($colors, bright );
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

@include respond-to('medium'){
    footer{
        background-color: map-get($colors, coffee );
        margin-top: -10px;
    }

    .social{
        margin-top: -10px;
        color: map-get($colors, bright );
        display: flex;
        align-items: center;
        font-size: 30px;
        padding: 50px;
    }
}