// using canvasmenu for mobiledevices
nav{
    transition: transform .3s ease-in-out;
    background-color: map-get($colors, coffee );
    width: 80vw;
    left: -80vw;
    position: fixed;
    top: 0;
    min-height: 100vh;
    & .logotype-desktop{
        display: none;
    }
    & li{
        margin: 20px;
        &:nth-child(1){
            font-size: 40px;
            color: map-get($colors, bright );
            margin-bottom: 30px;
        }
    }
    & a{
        color: map-get($colors, bright );

        &:hover{
            text-decoration: none;
        }
    }
}
#nav:target {     
    transform: translateX(80vw); //Här för vi in menyn
  }
  //simple styling
  .close {
    color: map-get($colors, bright );
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    margin-right: 30px;
}




// Meny för desktop
@include respond-to('medium'){
    nav{
        transition: transform 0;
        min-height: 0;
        left: 0;
        width: 100%;
        position: static;
        background-image: url('../images/heroimage2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        border-bottom: 1px solid map-get($colors , bright);
        background-color: inherit;
        
        @include respond-to('large'){
            height: 700px;
        }

        .logotype-desktop{
            display: block;
            justify-content: left;
            margin-left: 15%;
            
            & a{
                
                color: map-get($colors, bright );
                font-size: 70px;
            }
        }
        & .close{
            display: none;
        }
        & ul{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            
        }
            & li{
                margin: 50px;
                
                &:nth-child(5){
                    padding-right: 50px;
                }
                &:nth-child(1){
                    display: none;
                }

                & a{
                    font-family: 'Barlow Semi Condensed', sans-serif;
                    font-size: 25px;
                    color: map-get($colors, bright );

                    &:hover{
                        color: map-get($colors, hover-effect);
                        text-decoration: none;
                    }
                }
            }
    }
}